html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: #000077;
}

.box_tagcloud {
  flex-direction: row;
  align-items: center;
}

#main_3d_tagcloud {
  margin: 0 auto 0 auto;
  border-style: solid;
  border-width: 5px;
  border-color: #777799;
  border-radius: 10%;
  padding-left: 20px;
  padding-right: 20px;
}

